


  
    
    
.container{
width:85%;

}
.card-body{
    background-color: dimgrey;
    
}
body{
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
  background-color: #636062; 
}


.contact_form{	
	
	width: 460px; 
	height: auto;
   
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #383737; 
  padding-left: 30px; 
  
   }


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #b1abaf; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #a08b9b; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #6d6a6c; 
	border-color: #464546; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #443a3a; 
}


span{
	color: #3d393c; 
}


.aviso{
	font-size: 13px;  
	color: #b8b3b3;  
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #eedcea;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #aca7a7;   
}


p{
	font-size: 14px; 
	color: #9c9a9a; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}

.bio{
   display: grid;
   margin: auto;
   place-items: center;
}
.parrafobio{
    margin: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a8a8a8;
    padding: 8px;
    margin: 15px;
    
}    
.nav-link{
	color: black;
	

	
}
.disco{
	background-color: #9c9a9a;
	min-width: 300px;
	display: grid;
	display: flex;
	justify-content: center;
	border-style: dashed;
	margin: 10px;
	padding: 15px;
	
}
.sub{
	display: flex;
	justify-content: center;
	display: grid;
	top: 50%;
	left: 50%;
	align-items: center;
	
}
.disco1{
	display: flex;
	justify-content: center;
	display: grid;
	top: 50%;
	left: 50%;
	align-items: center;
}
.header {
display: flex;
justify-content: center;
	background-color: #333;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
	padding: 0%;
	align-items: center;
	
  }

  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #333;
  }
  
  .header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #6b6a6a;
	text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: #4d4747;
  }
  
  .header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
	background-color: #aca7a7;
  }
  
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }
