.body{
    background-color: color-mix(in xyz-d65, color percentage, color percentage);
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1{
    color: lightcoral;
}
h2{
    color: darkgoldenrod;
}

h3{
    color: darkolivegreen;
}

.nav{
    background-color: darkolivegreen;
}
.logopie{
    width: 80px;
}
.form-row{
 background-color: darkslategrey;
    
}
.containerbio{
    background-color: rgb(14, 117, 177);
    display: flex;
}
.ul{
    background-color: darkgreen;
}
.container-disk{
justify-items: center;
background-color: darkorange;
}
.p-3{
    background-color: darkgoldenrod;
}
#carouselExample{
    width: 60%;
    
    
}
main{
    justify-items: center;
}
