.body{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1{
    color: lightcoral;
}
h2{
    color: darkgoldenrod;
}

h3{
    color: darkolivegreen;
}

.nav{
    background-color: darkolivegreen;
}
.logopie{
    width: 80px;
}
.form-row{
 background-color: darkslategrey;
 justify-content: center;
 width: 100%;

    
}
.containerbio{
    background-color: rgb(14, 117, 177);
    display: flex;
}
.ul{
    background-color: darkgreen;
}



#carouselExample{
    justify-content: center;
    width: 60%;
    background-color: forestgreen;
    }
main{
    
    justify-items: center;
}
.formulario{
    width: 60%;
}
.containerbio{
    background-color: darkolivegreen;
    color: darkkhaki;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 85%;

}