.body{
    margin: 0%;
    padding: 0%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1{
    color: lightcoral;
}
h2{
    color: rgb(233, 169, 6);
}

h3{
    color: rgb(139, 218, 3);
}

.nav{
    background-color: darkolivegreen;
}
.logopie{
    width: 80px;
}
.form-row{
 background-color: darkslategrey;
 justify-content: center;
 width: 100%;

    
}



#carouselExample{
    justify-content: center;
    width: 60%;
    background-color: forestgreen;
    }
main{
    background-color: rgb(161, 93, 4);
    justify-items: center;
    
}
.formulario{
    width: 60%;
}
.col{
    justify-items: center;
    background-color: darkolivegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 85%;
    margin: 20px;
    
}
footer{
    background-color: darkolivegreen;
    justify-items: center;
}
p{
    color: darkgray;
}