/* 游둛 Estilos generales */
h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

/* 游늷 Estilos del carrusel */
.carousel {
  max-width: 50%; /* Ajustar el ancho del carrusel */
  margin: auto; /* Centrar el carrusel */
}

.carousel-inner img {
  width: 100%; /* Hacer que las im치genes ocupen todo el ancho del contenedor */
  height: auto; /* Mantener la proporci칩n de la imagen */
  max-height: auto; /* Limitar la altura de las im치genes */
  object-fit: cover; /* Asegurar que las im치genes se ajusten sin deformarse */
  border-radius: 10px; /* Bordes redondeados */
}

/* 游님 Estilos Responsivos */
@media (max-width: 1024px) {
  .carousel-inner img {
      max-height: 300px; /* Reducir altura en tablets */
  }
}

@media (max-width: 768px) {
  .carousel {
      max-width: 95%; /* Hacerlo m치s ancho en m칩viles */
  }

  .carousel-inner img {
      max-height: 600px; /* Reducir altura en m칩viles */
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem; /* Reducir tama침o del t칤tulo en pantallas peque침as */
  }

  .carousel-inner img {
      max-height: 200px; /* Ajustar im치genes en m칩viles peque침os */
  }
}